/work/
/sim/reference/
/vivado/CFO_SYNC/*
!/vivado/CFO_SYNC/CFO_SYNC.xpr
/reports/rotator_native/
*.jou
*.log
*.wdb
*.pb
.Xil/
/vivado/CFO_COORD/*
!/vivado/CFO_COORD/CFO_COORD.xpr
/vivado/CFO_PHASE74/*
!/vivado/CFO_PHASE74/CFO_PHASE74.xpr
__pycache__/
